.crm-container.crm-public .label {
  white-space: normal;
}

.crm-container.crm-public #crm-recently-viewed ul {
 margin-left: 0;
 padding-left: 0;
}
.crm-container ul#civicrm-menu li {
 list-style-type: none;
}

#crm-quick-create input.form-text {
  padding: 4px;
  min-height: auto;
}
#crm-container.crm-public select {
  height: auto;
  min-height: auto;
  width: auto;
}

#crm-container.crm-public .select2-container .select2-choice {
  height: auto;
}

/*Summary Overlay*/
div.crm-tooltip-wrapper table.crm-table-group-summary td {
  width: 48%;
}

/*User Account Registration Profile*/
div.crm-profile-name-Contact_Profile_19 div.cms_user_help-section {
  display: none;
}

/*membership - user profile*/
div.webform-component--membership-notice {
  padding: 10px;
  border: 2px solid green;
  border-radius: 5px;
}
